
<div id="outter-dexter">
<div class="splashlogin" id="inner">
<h1 class="welcome-back">Welcome Back!</h1>
<%= form_tag '/login' do %>
<div class="form-group">
  <%= label_tag 'email', 'email' %>
  <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: "email", autofocus: true %>
</div>
<div class="form-group">
  <%= label_tag 'password', 'password' %>
  <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: "password" %>
</div>
<div>
  <%= submit_tag "submit", class: 'btn btn-default btn-lg btn-submit' %>
  <%= link_to "signup" , '/signup', class: 'btn btn-default btn-lg'%>
</div>
<% end %>
</div>
</div>
<br><br><center><%= notice %></center>
