<body id="challenge-page">
<div class="challenge-form-background"></div>
<%= image_tag("wellness.png", :class => "cardio-icon") %>
<%= image_tag("water.png", :class => "water-icon") %>
<%= image_tag("weights.png", :class => "weights-icon") %>
<div class="userchalcontainer">

<% @challenges.each do |challenge| %>
   <div class="userchalrow">
   <div class="userchalitem"><%= challenge.name %></div>
  <%= form_for UserChallenge.new do |f| %>
    <!-- div class="field" -->
      <%= f.hidden_field :challenge_id, value: challenge.id %>
    <!-- /div -->
    <div class="actions userchalitem">
       <%= f.submit "Accept", class: 'btn btn-default' %>
    </div>
  </div>  <!-- end the row -->
  <% end %>
<% end %>

</div>
