<% if current_user %>
  <div class="row">
    <div class="dexter-two">
      <%= current_user.firstname.capitalize %>
      <%= current_user.lastname.capitalize %> | <%= link_to "Logout", '/logout' %>
    </div>
  <div class="dexter-button">
    <%= link_to new_user_challenge_path do %>
      <i class="fa fa-plus-circle fa-4x"></i>
    <div class="dexter-one">
      Add A<br>Challenge
    </div>
  <% end %>

  </div>

<% if current_user %>
  <div class="challenge-links">
    <% @user.uniq_challenges.each do |chal| %>
      <%#= chal.user_id %>

      <%= link_to chal.name, chal %><br>

    <% end %>

    <%= image_tag("grass.png", class: "grass") %>
  </div>


  <%#= render 'dexter-default' %>
  <%= render 'sad-dexter' %>


  <!-- <div class="health-box">
    <div class="health-bar">Health: <div class="one"></div><div class="two"></div><div class="three"></div>
    </div>
    <div class="energy-bar">Energy: <div class="one"></div><div class="two"></div><div class="three"></div>
    </div>
    <div class="happiness-bar">Happiness: <div class="one"></div><div class="two"></div><div class="three"></div>
    </div>
    <div class="hunger-bar">Hunger: <div class="one"></div><div class="two"></div><div class="three"></div>
    </div>
  </div> -->

<% end %>
<% else %>
  <%#= link_to 'Login', '/login' %>  <%#= link_to 'Signup', '/signup' %>
<% end %>


<% if !current_user %>

<div class="login-background">
  <div class="footer"></div>
</div>
<h2 class="welcome">Welcome Back!</h2>
  <div class="login-button"><button type="button" data-toggle="modal" data-target="#myLoginModal">Log in!
  </button></div>
  <h2 class="join">Join the Challenge!</h2>
  <div class="logout-button"><button type="button" data-toggle="modal" data-target="#myModal">
    Sign Up!
  </button></div>
  <div class="index-footer"></div>
<% end %>

<%= render './sessions/login_modal.html.erb' %>
<%= render 'signup_modal.html.erb' %>
