
<!-- <script type="text/javascript" src="resize-browser.js"></script> -->
<!-- <script type="text/javascript">
var myWindow;

function resizeWin() {
    myWindow.resizeTo(250, 430);                             // Resizes the new window
    myWindow.focus();                                        // Sets focus to the new window
}

function openWin() {
    myWindow = window.open("", "", "width=250, height=250");
}

window.resizeTo(250, 400)
window.openWin('localhost:3000');
</script> -->


<div id="outter-dexter">

        <% if current_user %>
          <div class="row">
          <div class="dexter-button"><i class="fa fa-plus-circle fa-4x" aria-hidden="true" style="color:#f0f8ff;"></i></div>
          <div class="dexter-one"><div style="height: 14px"></div>Add a challange</div>
          <div class="dexter-two"><%= current_user.lastname %>, <%= current_user.firstname %> | <%= link_to "Logout", '/logout' %></div>
          </div>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
        <% end %>




<br><br>You did it!, welcome to users#index.html!!
</dev>
