<%= form_for(userchallenge) do |f| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userchallenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% userchallenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.integer :user_id %>
  </div>

  <div class="checkbox" class="form-group">
    <%= f.label :challenge_id %>
    <%= f.integer :challenge_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
