<%#= form_for [@challenge, @step] do |f|, remote: true %>
<%= form_for @steps do |f| %>



<!-- **** STEP ONE ******* -->
  <div class="field">
    <%= f.label :challenge_id %>
    <%= f.text_field :challenge_id %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :complete_by %>
    <%= f.datetime_field :complete_by %>
  </div>

  <div class="field">
    <%= f.label :completed %>
    <%= f.check_box :completed %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
