<p id="notice"><%= notice %></p>

<p>
  <h1><%= @challenge.name %></h1><br>
  <%= @challenge.body %>
</p>

<br>
<div class="stepscontainer">

    <div class="stepstitle">
      <b>
      <!-- div class="stepsitem">Challenge</div> -->
      <div class="stepsitem">Step</div>
      <div class="stepsitem2">Description</div>
      <div class="stepsitem2">Due Date</div> <!-- Complete_by -->
      <div class="stepsitem">Completed</div>
      </b>
    </div>

    <% current_user.user_challenges_for(@challenge).each do |ucs| %>
      <div class="stepsrow">
        <!-- div class="stepsitem"><%= ucs.challenge.name %></div> -->
        <div class="stepsitem"><%= ucs.step.name %></div>
        <div class="stepsitem2"><%= ucs.step.description %></div>
        <div class="stepsitem2"><%= ucs.complete_by %></div>
        <div class="stepsitem"><%= ucs.completed %></div>

        <%= form_for ucs do |f| %>
            <%= f.hidden_field :completed, value: true %>
          <div class="actions stepsitem2">
             <%= f.submit "Mark Complete", class: 'btn btn-default' %>
          </div>
             <% end %>

        <div class="stepsitem"><%= link_to 'Ignore', ucs, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <!-- div class="userchalitem2"><%= link_to 'Complete', '#' %></div> -->
      </div>
    <% end %>

</div>


<br><br>
<%= link_to 'Back', root_path %>
<%#= link_to 'Edit', edit_challenge_path(@challenge) %>
